
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}



#myUL {
    width:84em;
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#myUL li a {
    color: black;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    background: transparent;
    font-size: 1px;

}

/******************************CARDS*********************************/

.cardsFlex {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    flex-direction: column;


}

.cityName {
    padding: 10px;

    text-align: center;
    font-size: 14px;
    width: 80px;

}

.home__card-img {
    opacity: 0.67;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    filter: brightness(125%);
    justify-content: space-evenly;
    width: 100%;

}

.homeCardTitle {
    width: 100%;
}



/**************************************************TEST*******************************************/

h4 {
    color: white;
}
