@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}



#myUL {
    width:84em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 930px) {
  #myUL {
    width:20em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
}

#myUL li a {
    color: black;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    background: transparent;
    font-size: 1px;

}

.section__title {
  font-size: 72px;

}

/******************************CARDS*********************************/

.cardsFlex {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    flex-direction: column;


}

.cityName {
    padding: 10px;

    text-align: center;
    font-size: 14px;
    width: 80px;

}

.home__card-img {
    opacity: 0.85;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    filter: brightness(125%);
    justify-content: space-evenly;
    width: 100%;

}

.homeCardTitle {
    width: 100%;
}



/************************************************Search***************************************/

h4 {
    color: white;
}

.input-box{
    position: relative;
    height: 55px;
    max-width: 55px;
    width: 100%;
    margin: 0 40px;
    border-radius: 6px;
    background-color: #fff;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
  }
  .input-box.open{
    max-width: 240px;
  }
  input{
    position: relative;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
  }
  .input-box.open{
    padding: 0 15px 0 65px;
  }
  .icon{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  .search-icon,
  .close-icon{
    position: absolute;
    top: 50%;
    font-size: 30px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-icon{
    color: black;
    
    transform: translateY(-50%) rotate(90deg);
  }
  .input-box.open .search-icon{
    transform: translateY(-50%) rotate(0);
  }
  .close-icon{
    right: -45px;
    color: #fff;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
  .input-box.open .close-icon{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
  }

/*pagination*/

.paginationList {
  
  width: 375px;
  height: 300px;
  background: black;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
 
  overflow-y: scroll;
}

@media (max-width: 400px) {
  .paginationList {
    width: 300px;
    height: 300px;
    background: black;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    overflow-y: scroll;
  }
  
}

.paginationList::-webkit-scrollbar {
  color: grey;
}


.footer {
  width: 100%;
  margin-top: 8em;
}

/*test*/

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	position: relative;
	flex: 1;
	width: 14em;
	height: 14em;
	margin: 20px;
	overflow: hidden;
  border-radius: 10px;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}
.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 1em;
	transition: 0.4s;
	transition-property: transform;
  font-family: sans-serif;
  color:white
  
}

.image:click .details h2{
	transform: translateY(-30px);
}

.image:active .details p {
  margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}


.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: transparent;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 15px;
	bottom: -850px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}

.more .icon-links i{
	color: #000;
	font-size: 20px;
  text-align: center;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}

.icon-links {
  width: 100%;
  text-align: center;
}

/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 480px;
	}
}

@media (max-width: 400px){
	.image .details p{
		font-size: 16px;
	}

	.more .read-more, .more .icon-links a i{
		font-size: 18px;
	}
}

/*test*/

.join__title {
  font-size: 35px;
}

.join_section {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  background-color: rgb(15, 15, 15);
  width: 100%;
  flex-wrap: wrap;
}
